:root {
  --alabaster: #e0e2db;
  --cobalt: #3d348b;
  --slate: #717c89;
  --gold: #e6af2e;
  --space: #191716;
}

nav {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50px;
}

body {
  background-image: url("./images/warframeBackground.png");
  background-repeat: repeat;
  color: var(--alabaster);
  background-size: cover;
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  overflow: scroll;
}

/* text styling  */
.font-space {
  font-family: "Space Mono", monospace;
  color: var(--alabaster);
}

.font-heavy {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 5px;
}

.text-neon {
  color: var(--gold);
  text-align: center;
  text-shadow: 0px 0px 20px var(--gold);
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
}


.text-lead {
  color: var(--gold);
  font-family: "Space Mono", monospace;
  text-wrap: balance;
}

/* title styles */

#title {
  text-align: center;
  padding-top: 10px;
  font-size: x-large;
}

#title a {
  color: var(--alabaster);
  text-decoration: none;
}

/* header styles */

#resHeader {
  margin: 10px;
  font-size: 24px;
}

/* Card Styling */

.card {
  display: flex;
  flex-direction: column;
  background: rgba(61, 52, 139, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(61, 52, 139, 0.2);
  padding: 10px;
  margin: 10px;
  animation: fadeIn 1.5s;
  border-radius: 14px;
}

.card p {
  margin: 10px;
}

.resultCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgba(61, 52, 139, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(61, 52, 139, 0.2);
  padding: 10px;
  margin: 10px;
  animation: fadeIn 1.5s;
  border-radius: 14px;
  height: 48px;
  text-align: center;
}

.subDiv {
  display: flex;
  flex-direction: column;
}

/* Form styling */

#searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Searchbar styling */

.textEntry {
  width: 80%;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  border-color: var(--slate);
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  align-self: center;
  font-size: 14px;
  line-height: 18px;
  color: var(--alabaster);
  background-color: transparent;
  background-size: 18px 18px;
  background-position: 95% center;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--alabaster);
  border-radius: 0;
}

.textEntry::placeholder {
  color: var(--alabaster);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* Loader style/ Animation */

.progress {
  width: 200px;
  height: 20px;
  background: linear-gradient(#3d348b 0 0) left/0% 100% no-repeat #e0e2db;
  animation: progressLoader 2s infinite linear;
  position: absolute;
  top: 50vh;
  margin-left: 45vw;
  margin-right: 50vw;
}

/* description section */

#description {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#descHeader {
  margin-top: 10px;
  margin-bottom: 10px;
}

#wikiLink {
  text-align: end;
}

/* Button styling */

.glass-button {
  display: inline-block;
  padding: 5px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 10px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
}

.glass-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#moreBtn {
  margin: 10px;
  width: 95%;
}
/* result section styling */

#results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.hide {
  display: none;
}

.show {
  display: block;
  animation: fadeIn 1.5s;
}

@keyframes progressLoader {
  100% {
    background-size: 100% 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
