:root {
  --alabaster: #e0e2db;
  --cobalt: #3d348b;
  --slate: #717c89;
  --gold: #e6af2e;
  --space: #191716;
}

.font-space {
  font-family: "Space Mono", monospace;
}

body {
  background-image: url("./images/warframeBackground.png");
  background-repeat: repeat;
  color: var(--alabaster);
  background-size: cover;
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  overflow: scroll;
}

nav {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: var(--cobalt);
}

#title {
  text-align: center;
  padding-top: 10px;
  font-size: x-large;
}

.text-lead {
  color: var(--gold);
  text-align: center;
}

/* Card Styling */

.card {
  background: rgba(61, 52, 139, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(61, 52, 139, 0.2);
  padding: 10px;
  margin: 10px;
}

/* Searchbar styling */

.textEntry {
  width: 80%;
  margin: 10px;
  border-radius: 5px;
  border-color: var(--slate);
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: var(--alabaster);
  background-color: transparent;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 5px;
  border: 1px solid var(--alabaster);
  transition: all 250ms ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.textEntry::placeholder {
  color: var(--alabaster);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.textEntry:hover,
.textEntry:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--alabaster);
  border-radius: 0;
  background-position: 100% center;
}

/* Loader style/ Animation */

.progress {
  width: 200px;
  height: 20px;
  background: linear-gradient(#3d348b 0 0) left/0% 100% no-repeat #e0e2db;
  animation: progressLoader 2s infinite linear;
  position: absolute;
  top: 50vh;
  margin-left: 45vw;
  margin-right: 50vw;
}


/* Button styling */

.glass-button {
  display: inline-block;
  padding: 5px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 10px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
}

.glass-button:hover {
  background-color: rgba(255,255,255,0.2);
}

/* result section styling */

#results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.thumbNail {
  height: 200px;
  width: 200px;
}
@keyframes progressLoader {
  100% {
    background-size: 100% 100%;
  }
}
