<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='reset.css') }}"
    />
    <title>FarmFrame</title>
  </head>
  <body>
    <nav>
      <h1 id="title" class="font-space"><a href="/">FarmFrame</a></h1>
    </nav>

    <article class="card" id="hero">
      <section id="searchBar">
        <form id="searchForm">
          <input
            id="itemSearch"
            class="textEntry"
            type="text"
            placeholder="What do you need?"
          />
          <button id="submitBtn" class="glass-button">Farm it!</button>
        </form>
      </section>
    </article>

    <section id="description" class="hide">
      <h2 id="descHeader" class="text-lead"></h2>
      <p id="descText" class="font-space"></p>
      <a id="wikiLink" class="font-space hide" href=""> - See Wiki Page ></a>
    </section>

    <h2 id="resHeader" class="text-lead"></h2>
    <section id="results"></section>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
